/** GENERAL STYLES **/
body {
	padding: 0 5%;
	font-family: Verdana, Arial, Sans-Serif;
	color: #37474F;
}

.flex {
	display: flex;
}

h2{
	background-color: #c4161c;
	color: white;
	padding: 5px 10px;
	text-align: center;
	font-size: 16pt;
	/*font-weight: bold;*/
}

h1 {
	font-size: 20pt;
	font-weight: bold;
}

h5{
	color: #c4161c;
	font-size: .8em;
	margin: 5px 0px;
}

/*.head  {
	overflow: auto;
}
.social {
	float: right;
}*/

/** HEADER STYLES **/

.logo{
	display: flex;
	justify-content: space-between;
	background-color:#CC3333;
	color: #fafafa;
}

.logo h1{
	font-size: 5em;
}

.social div {
	width: 5%;
}


.flex-nav{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.flex-nav img {
	flex: 1;
	height: 20%;
}

.flex-nav a {
	flex: 2;
}


.mobile_heads {
	display: none;
}

nav a {
	text-decoration: none;
	color: white;
	background-color: #CC3333;
	padding: 10px;
	text-align: center;
}

nav a:hover{
	background-color: #870000;
}

nav h3 {
	background-color:#CC3333;
	color: #FAfAFA;
}

/** BREAKING NEWS STYLES **/
.breaking {
	margin: 20px 0;
	align-items: baseline;
	border: 1px solid #c4161c;;
}

/*.breaking h2{
	background-color: #c4161c;
	color: white;
	padding: 5px 10px;
	text-align: center;
}
*/
.breaking h3{
	padding: 0 5px;
}



/** MAIN STYLES - LEFT **/
.flex-main{
	justify-content: baseline;
}
.left{
	flex: 3;
	/*margin-right: 20px;*/
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.head{
	background-color: #fafafa;
}

article div{
	flex: 2;
}

article img {
	width: 60%;
	display: block;
	margin: auto;
}

article p {
	flex: 1;
}

.flex-container {
	flex-flow: row wrap;
	justify-content: space-around;
}

.subhead{
/*	display: flex;
	flex-direction: column;
	justify-content: space-between;*/
	/*align-items: flex-end;*/
	padding: 10px;
	overflow: auto;
	/*border: 1px solid #CC3333;*/
}

.subgroup{
	background-color: green;
	/*width: 12%;*/
	/*transition: width 1s, height 1s;*/
	/*display: flex;*/

}

.subgroup a{
	width: 20%;
}

.subgroup img{
	width: 20%;
	float: left;
}

.subgroup:hover{
	/*width: 25%;*/
}

.subgroup:hover > .desc2{
	visibility: visible;
}

.desc{
	/*flex: 4;*/
	float: right;
	/*position: relative;*/
	top: 0;
	/*width: 65%;*/
	margin: 10px;
	/*align-self: flex-top;*/
	/*visibility: hidden;*/
}

.desc2{
	visibility: hidden;
}


.group {
	width: 30%;
	margin: 20px 0;
	border: 1px solid #c4161c;
}

.group h3{
	text-align: center;
	margin-top: 10px;
}

.topic img {
	width: 100%;
}

/** MAIN STYLES - RIGHT **/
.right {
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.story{
	margin: 10px 0;
}

.stamp {
	justify-content: space-around;
}

.stories{
	padding: 0px 10px;
	margin-bottom: 10px;
}

.stories li {
	margin: 5px 0;
}

.cover img{
	display: block;
	margin: auto;
}

/** FOOTER **/
footer {
	justify-content: space-between;
	margin-top: 50px;
}

/*@media (min-width: 875px){
	.right{
		display: flex;
	}
}*/




/*** MOBILE STYLES ***/
@media (max-width: 875px){
	h2{
		font-size: .9em;
	}
	.mobile_heads{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	.mobile_heads div{
		width: 20%;
	}
	.mobile_heads img{
		width: 100%;
	}
	/*mobile_heads a
		width: 80%;
	}*/

	.flex-nav{
		/*display: flex;*/
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
	}

	.flex-nav div{
		display: none;
	}

	.flex-nav a{
		flex: none;
	}

	.right{
		display: none;
		/*background-color: gray;*/
	}

	article p{
		display: none;
	}

}