/** GENERAL STYLES **/

@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,300);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);

body {
	padding: 0 5%;
	font-family: "Oxygen", Sans-Serif;
	color: #37474F;
}

.flex {
	display: flex;
}

h2{
	background-color: #C35858;
	color: white;
	padding: 5px 10px;
	text-align: center;
	font-size: 16pt;
	font-family: 'Merriweather', serif;
	/*font-weight: bold;*/
}

.byline{
	font-family: 'Merriweather', serif;
	margin: 10px 0;
}

.byline a{
	color: #C35858;
}

a{
	color: #37474F;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

h1 {
	font-size: 20pt;
	font-weight: bold;
	font-family: 'Merriweather', serif;
	margin-bottom: 5px;
}

h5{
	color: #C35858;
	font-size: .8em;
	margin: 5px 0px;
}

/*.head  {
	overflow: auto;
}
.social {
	float: right;
}*/

/** HEADER STYLES **/

.logo{
	display: flex;
	justify-content: center;
	color: #fafafa;
}

.ids{
	padding: 10px;
	background-color:#C35858;
}

.logo h1{
	font-family: "Oxygen", Sans-Serif;
	font-weight: bold;
	font-size: 5em;
}

.social div {
	width: 5%;
}


.flex-nav{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.flex-nav img {
	flex: 1;
	height: 20%;
}

.flex-nav a {
	flex: 2;
}


.mobile_heads {
	display: none;
}

nav a {
	text-decoration: none;
	color: white;
	background-color: #C35858;
	padding: 10px;
	text-align: center;
}

nav a:hover{
	background-color: #870000;
}

nav h3 {
	color: #FAfAFA;
}

/** BREAKING NEWS STYLES **/
.breaking {
	margin: 20px 0;
	align-items: baseline;
	border-bottom: 1px solid #C35858;
}

/*.breaking h2{
	background-color: #c4161c;
	color: white;
	padding: 5px 10px;
	text-align: center;
}
*/
.breaking h3{
	padding: 0 5px;
}



/** MAIN STYLES - LEFT **/
.flex-main{
	margin-top: 20px;
}
.left{
	flex: 3;
	/*margin-right: 20px;*/
	display: flex;
	flex-flow: column;
	margin-right: 20px;
	/*justify-content: space-between;*/
}

.feature{
	display: flex;
	flex-direction: column;
}

.head{
	border-bottom: 1px solid #CCD1D1;
	padding: 10px;
}

/*.head div{
	display: flex;
	flex-direction: column;
}*/

.head_pic img{
	width: auto;
	height: 60%;
	display: block;
	margin: 0 auto;
}

article img{
	height: 70%;
	width: auto;
	margin: 0 auto;
	display: block;
}

p{
	font-family: 'Oxygen', sans-serif;
	line-height: 1.4em;
	font-weight: 300;
	padding: 10px;
}

.flex-container {
	flex-flow: row wrap;
	justify-content: space-around;
}

.subhead{
/*	display: flex;
	flex-direction: column;
	justify-content: space-between;
	/*align-items: flex-end;*/
	padding: 10px;
	/*overflow: auto;*/
	/*border: 1px solid #CC3333;*/
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
}


.subgroup > a{
	flex: 1;
}

.subgroup img{
	width: 100%;
}

.subgroup{
	/*display: none;*/
	display: flex;
	margin: 25px 0;
}

.desc{
/*    position: relative;
    left: 20%;
    width: 80%;
    top: -155;*/
    /*visibility: hidden;*/
    flex: 2;
}

.desc a{
	display: block;
	border-bottom: 1px solid lightgray;
	padding: 5px;
	margin: 20px;
}


.topic_nav{
	justify-content: space-between;
	align-items: baseline;
	margin-top: 10px;
	border-bottom: 1px solid #C35858;
}

.group {
	width: 30%;
	margin: 20px 0;
	border: 1px solid #c4161c;
}

.group h3{
	text-align: center;
	margin-top: 10px;
}

.topic img {
	width: 100%;
}

/** MAIN STYLES - RIGHT **/
.right {
	flex: 1;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}

.story{
	margin: 10px 0;
}

.stamp {
	justify-content: space-around;
}

.stories{
	padding: 0px 10px;
	margin-bottom: 10px;
}

.stories li {
	margin: 5px 0;
}

.cover{
	margin: 50px 0;
}

.cover img{
	display: block;
	margin: auto;
}

/** FOOTER **/
footer {
	justify-content: space-between;
	margin-top: 50px;
}

/*@media (min-width: 875px){
	.right{
		display: flex;
	}
}*/




/*** MOBILE STYLES ***/
@media (max-width: 875px){
	h2{
		font-size: .9em;
	}
	.mobile_heads{
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
	}
	.mobile_heads div{
		/*width: 20%;*/
		padding: 5px;
	}
	.mobile_heads img{
		width: 100%;
	}
	/*mobile_heads a
		width: 80%;
	}*/

	.flex-nav{
		/*display: flex;*/
		display: none;
		flex-direction: column;
		justify-content: space-around;
		align-items: stretch;
	}

	.flex-nav div{
		display: none;
	}

	.flex-nav a{
		flex: none;
	}

	.right{
		display: none;
		/*background-color: gray;*/
	}

	.head p{
		display: none;
	}

	.subgroup > a{
		flex: 0;
	}

	.subgroup img{
		display: none;
	}

	.topic_nav{
		display: none;
	}
	.ids{
		padding: 0px;
	}
	h3{
		color: #FAfAFA;
	}

	.logo{
		width: 99%;
		margin: 0 auto;
	}
	.logo h1{
		font-size: 8vw;
	}
	h3{
		font-size: 3vw;
	}

}